<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg id="Preislabel_1zeilig" data-name="Preislabel 1zeilig" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" width="104" height="78" viewBox="0 0 108 82">
    <!--<link href="//fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <defs>
        <style type="text/css">
            @font-face {
                font-family: 'Asap';
                src: url('/fonts/Asap-Regular.eot');
                src: url('/fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
                url('/fonts/Asap-Regular.svg#AsapRegular') format('svg'),
                url('/fonts/Asap-Regular.woff') format('woff'),
                url('/fonts/Asap-Regular.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Asap-Italic';
                src: url('/fonts/Asap-Italic.eot');
                src: url('/fonts/Asap-Italic.eot?#iefix') format('embedded-opentype'),
                url('/fonts/Asap-Italic.woff') format('woff'),
                url('/fonts/Asap-Italic.ttf') format('truetype'),
                url('/fonts/Asap-Italic.svg#AsapItalic') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Asap-Bold';
                src: url('/fonts/Asap-Bold.eot');
                src: url('/fonts/Asap-Bold.eot?#iefix') format('embedded-opentype'),
                url('/fonts/Asap-Bold.svg#AsapBold') format('svg'),
                url('/fonts/Asap-Bold.woff') format('woff'),
                url('/fonts/Asap-Bold.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
        </style>
        <!--<style type="text/css">@import url("//fonts.googleapis.com/css?family=Asap");</style>-->
        <style>
            /*@font-face {*/
            /*font-family: "Asap";*/
            /*src: url("data:application/font-woff;charset=utf-8;base64,...");*/
            /*}*/
            .price .value, .top, .currency, .target {
                font-family: 'Asap', sans-serif;
                moz-osx-font-smoothing: grayscale!important;
                -webkit-font-smoothing: antialiased;
                -moz-font-smoothing: antialiased;
                font-smoothing: antialiased;
                font-smooth: always;
            }

            .value, .currency, .target, .top {
                font-weight: 700;
            }

            .top, .target {
                font-size: 11px;
            }

            .target, .price .value, .price .currency {
                fill: #fff;
            }
            .top {
                fill: #c00d0e;
            }

            .target, .top {
                text-anchor: middle;
            }

            .price {
                text-anchor: end;
                text-align: right;
            }
            .price .value  {
                text-shadow: 1px 1px 4px #4D0909;
                font-size: 45px;
                /*filter: url(#filter);*/
                /*text-anchor: right;*/
                text-anchor: end;
                font-weight: 700;
            }

            .price .currency {
                font-size: 21px;
                text-shadow: 1px 1px 4px #4D0909;
            }
        </style>
    </defs>
    <rect x="2" y="2" rx="4" ry="4" width="104" height="78"
          style="fill:rgba(0,0,0,0.5);stroke:black;stroke-width:2;opacity:0.1" />
    <rect x="4" y="2" rx="5" ry="5" width="100" height="14"
          style="fill:rgba(255,255,255,1);opacity:1" />
    <rect x="4" y="7" rx="0" ry="0" width="100" height="11"
          style="fill:rgba(255,255,255,1);opacity:1" />
    <rect x="4" y="17" rx="0" ry="0" width="100" height="45"
          style="fill:rgba(191,12,21,1);opacity:1" />

    <rect x="4" y="66" rx="0" ry="0" width="100" height="8"
          style="fill:rgba(32,126,191,1);opacity:1" />
    <rect x="4" y="66" rx="5" ry="5" width="100" height="14" style="fill:rgba(32,126,191,1);opacity:1"/>

    <text id="target" data-name="target" class="target" transform="translate({{target.x}} {{target.y}})"><tspan x="" y="">{{ bottom_label }}</tspan></text>
    <text id="top" data-name="top" class="top" transform="translate({{top.x}} {{top.y}})"><tspan x="" y="">{{top_label }}</tspan></text>
    <text id="price" data-name="price" class="price" transform="translate({{price.x}} {{price.y}})"><tspan x="" y=""><tspan class="value">{{ price_value }}</tspan><tspan class="currency" x="16" y="-17" transform="translate(0 0)">€<!--<tspan class="currency">€</tspan>--></tspan></tspan></text>
</svg>